<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action='/serches' method='post'>
            <input type="text" name'Search' placeholder="search by title">
            <label for='aName'>Search by Author</label>
            <input type="text" name="Search">
            <label for="Name">Search by Title</label>
            <input for='radio' id='title' name='Search' value='title'>
        </form>
    </form>
</body>
</html>